# ================== #
# = Global Ignores = #
# ================== #

# Python
__pycache__/
.venv/

# VSCode
.vscode/

# ==================== #
# = Specific Ignores = #
# ==================== #

dist/