* {
  margin: 0;
  padding: 0;
}

#gallery {
  /* Background colour to more easily visualise */
  background-color: #333;

  /* Grid properties */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 10px;
}

.item {
  /* Set card sizes for testing / visualisation */
  height: 150px;
  width: 100%;

  /* Background colour to more easily visualise */
  background-color: #aaa;

  /* Grid properties */
  display: flex;
  align-items: center;
  justify-content: center;
}

#item-2 {
  /* Span 2 columns */
  grid-column: span 2;
}