{% extends "base.jinja" %}
{% block title %} Page #{{ id }} {% endblock %}

{% block content %}
<h1>Page #{{ id }}</h1>
<p>Welcome to page #{{ id }}. I'm so {{ emotion if emotion else 'happy' }} you're here!</p>
{% endblock %}