<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>Page #{{ id }}</h1>
  <p>Welcome to page #{{ id }}. I'm so {{ emotion if emotion else 'happy' }} you're here!</p>
</body>

</html>