{% extends "base.jinja" %}

{% block head_extras %}
<style>
    main {
        padding: 20px;
    }

    #post-feed {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .post {
        padding: 0.7rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: row;
    }

    h2,
    h3,
    p {
        margin: 0;
    }

    .post h3 {
        font-size: 16px;
        color: #666;
    }

    .post div:first-child {
        flex-grow: 1;
    }

    .post button {
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 0.5rem;
        width: 2rem;
        height: 2rem;
        padding: 0px;
        cursor: pointer;
    }

    .post button:hover {
        background-color: #f0f0f0;
    }

    #form-container {
        padding: 1em 5em;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <h1>Postboard</h1>

    <div id="form-container">
        <form method="POST" action="/post">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="author" placeholder="Author">
            <textarea name="content" placeholder="Content"></textarea>
            <button type="submit">Post</button>
        </form>
    </div>

    <div id="post-feed">
        {% for post in posts %}
        <div class="post">
            <div>
                <div class="post-title">
                    <h2>{{ post.title }}</h2>
                    <h3>{{ post.author }}</h3>
                </div>
                <p class="post-content">{{ post.content }}</p>
            </div>
            <div>
                <button>x</button>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}

</html>